body {
    font-family: Arial, sans-serif;
    background-color: #e3f9f7;
    margin: 0;
    padding: 20px;
    background-image:url(/hotel.jpg) ;
    background-size:cover ;
    background-repeat: no-repeat;
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}


button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.form-container {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}